squirrel-client/src/main/resources/META-INF/com/dianping/squirrel/squirrel-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://www.dianping.com/schema/squirrel" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.dianping.com/schema/squirrel" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" />

	<xsd:element name="store">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:string" use="optional">
				<xsd:annotation>
					<xsd:documentation>
						<![CDATA[store client id]]>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			
			<xsd:attribute name="store-type" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        <![CDATA[store type]]>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
            
		</xsd:complexType>
	</xsd:element>

</xsd:schema>